@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');

a{
  color: black !important;
}

.food-blog-font{
  font-family: 'Grand Hotel',
  cursive;
  font-size: 45px;
  margin-left: 30px;
}

.food-blog-logo{
  font-family: 'Grand Hotel',
  cursive;
  font-size: 100px;
  margin-left: 30px;
}

.user-signin-card{
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 12px auto;
}

.signin-template-card {
  margin-top: 100px;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff8a65 !important;
  box-shadow: 0 1px 0 0 #ff8a65 !important;
}

.recipe_posts_gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.recipe_posts_item{
  width: 45%;
  margin-bottom: 10px;

}


.home-card{
  max-width: 500px;
  height: max-content;
  margin: 26px auto;
}

#toast-container{
  top: 30px !important;
  right: 20px !important;
  left: auto !important
}