/* google font */
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


:root {
  --primary: #ff8a65;
  --error: #e7195a;
}

a{
  color: black !important;
}

.food-blog-font{
  font-family: 'Grand Hotel',
  cursive;
  font-size: 45px;
  margin-left: 30px;
  margin-right: 30px;
}

.food-blog-logo{
  font-family: 'Grand Hotel',
  cursive;
  font-size: 100px;
  margin-left: 30px;
}

.user-signin-card{
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: 12px auto;
}

.signin-template-card {
  margin-top: 100px;
  margin-right: 0px;
  /* display: flex;
  position: absolute;
  top: 300px;
  left: 0;
  height: 50%;
  width: 100%; */

}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff8a65 !important;
  box-shadow: 0 1px 0 0 #ff8a65 !important;
}

.input-field input[type=email]:focus {
    border-bottom: 1px solid #ff8a65 !important;
    box-shadow: 0 1px 0 0 #ff8a65 !important;
  }

  .input-field input[type=password]:focus {
    border-bottom: 1px solid #ff8a65 !important;
    box-shadow: 0 1px 0 0 #ff8a65 !important;
  }

  .textarea {
    height: auto;
    outline:#ff8a65 !important;
  }


.recipe_posts_gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
}

.recipe_posts_item{
  width: 45%;
  margin-bottom: 10px;
}


.home-card{
  max-width: 550px;
  height: max-content;
  margin: 26px auto;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 10px;
  padding-right: 50px
}

.home-card p{
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.home-card h4 {
  margin: 0 0 10 px 0;
  font-size: 1.7em;
  /* color:var(--primary); */
}

.home-card strong {
  margin: 0 0 10 px 0;
  font-size: 1.2em;
  /* color:var(--primary); */
}

.home-card span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

#toast-container{

  /* top: 30px !important; */
  /* right: 20px !important; */
  /* left: auto !important */
  left: 50%;
  position: fixed;
  transform: translate(-50%, 0px);
  z-index: 9999;
}

.headline {
    font-family: 'Helvetica Neue';
    font-size: 23px;
    margin-left: 30px;
}